
<div class="container">
    <div class="row">
        <div class="col s12 m6 peak">
            <h2>Most Important</h2>
            <ul class="sortable">

            </ul>
            <h2>Least important</h2>
        </div>
        <div class="col s6">
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn modal-trigger" href="#tool-box">Add artist</a>

            <!-- Modal Structure -->
            <div id="tool-box" class="modal bottom-sheet">
              <div class="modal-content">
                <h4>{{toolBoxTitle}}</h4>
                <ul class="collection">
                  <li class="collection-item avatar">
                    <i class="material-icons circle">label</i>
                    <div class="input-field col s6">
                      <input placeholder="Artist name" type="text" class="validate artist-name">
                      <label for="artist-name">Enter Artist:</label>
                    </div>
                  </li>

                  <li class="collection-item avatar">
                    <i class="material-icons circle">label</i>
                    <div class="input-field col s6">
                        <p class="range-field">
                            <input type="range" class="slider" min="0" max="100" />
                        </p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="modal-footer">
                <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat artist-submit">Submit</a>
              </div>
            </div>
        </div>
    </div>
</div>
