
<div class="container">
    <div class="row">
        <div class="col s12 m6 buttons">
            <a class="waves-effect waves-light btn modal-trigger orange s12" href="#add-artist">Add Artist</a>
            <a class="waves-effect waves-light btn modal-trigger orange s12" href="#add-tag">Add Tag</a>
            <a class="waves-effect waves-light btn red s12 generate">Generate playlist</a>
        </div>
        <div class="col s12 m6">
            <h2>Most Important</h2>
            <ul class="sortable"></ul>
            <h2>Least important</h2>
        </div>
    </div>
    <div class="fixed-action-btn">
   <a class="btn-floating btn-large red">
     <i class="large material-icons">mode_edit</i>
   </a>
   <ul>
     <li><a class="btn-floating yellow darken-1 btn-expand" data-directionOn="padding-left"><i class="material-icons">queue_music</i></a></li>
     <li><a class="btn-floating green btn-expand" data-directionOn="padding-right"><i class="material-icons">queue_music</i></a></li>
     <li><a class="btn-floating blue btn-expand" data-directionOn="padding-left"><i class="material-icons">queue_music</i></a></li>
   </ul>
 </div>
</div>

{{#modals}}
<div id="{{id}}" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>{{title}}</h4>
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle">perm_identity</i>
        <div class="input-field col s6">
          <input placeholder="{{placeholder}} name" type="text" class="validate {{class}}-name">
          <label for="first_name">Enter {{placeholder}}:</label>
        </div>
      </li>
      <li class="collection-item avatar">
          <i class="material-icons circle">label</i>
          <label for="obscurity">Enter Obscurity:</label>
          <p class="range-field">
              <input type="range" class="{{class}}-obscurity" min="0" max="100"/>
          </p>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#{{class}}-submit" class="modal-action modal-close waves-effect waves-green btn-flat {{class}}-submit close">Submit</a>
  </div>
</div>

{{/modals}}
