
<div class="container">
    <div class="row">
        <div class="col s12 m6 peak">
            <h2>Most Important</h2>
            <ul class="sortable">

            </ul>
            <h2>Least important</h2>
        </div>
        <div class="col s6">
            <a class="waves-effect waves-light btn modal-trigger" href="#add-artist">Add Artist</a>
            <a class="waves-effect waves-light btn modal-trigger" href="#add-tag">Add Tag</a>
        </div>
    </div>
</div>

{{#modals}}
<div id="{{id}}" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>{{title}}</h4>
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle">perm_identity</i>
        <div class="input-field col s6">
          <input placeholder="Artist name" type="text" class="validate {{class}}-name">
          <label for="first_name">Enter Artist:</label>
        </div>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat {{class}}-submit">Submit</a>
  </div>
</div>

{{/modals}}
