<div class="col s12">
    <nav>
        <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col s6 peak">
            <h2>Most Important</h2>
            <ul id="sortable">
                <li class="ui-state-default">
                    <div class="trash" title="Remove"><span class="lid"></span><span class="can"></span></div>
                    <div class="card small">
                        <div class="card-image">
                            <img src="http://img3.wikia.nocookie.net/__cb20090526022151/lyricwiki/images/b/bd/Dean_Martin_-_Dean_Martin's_Mambo_Italiano.jpg">
                          <span class="card-title">Dean Martin</span>
                        </div>
                        <div class="card-content">
                          <p>Obscurity: <span>80</span></p>
                        </div>
                      </div>
                </li>
                <li class="ui-state-default">
                    <div class="card small">
                        <div class="card-image">
                            <img src="http://ecx.images-amazon.com/images/I/518JDKQVHTL._SS500_.jpg">
                            <span class="card-title">Elvis Presly</span>
                        </div>
                        <div class="card-content">
                          <p>Obscurity: <span>80</span></p>
                        </div>
                      </div>
                </li>
                <li class="ui-state-default">
                    <div class="card small">
                        <div class="card-image">
                            <img src="https://kookrecepten.files.wordpress.com/2014/06/the-chordettes.jpg">
                            <span class="card-title">The Chordettes</span>
                        </div>
                        <div class="card-content">
                          <p>Obscurity: <span>80</span></p>
                        </div>
                      </div>
                </li>
                <li class="ui-state-default">
                    <div class="card small">
                        <div class="card-image">
                            <img src="http://img3.wikia.nocookie.net/__cb20080519014448/lyricwiki/images/9/9e/Frank_Sinatra_-_Sinatra_Sings...Of_Love_And_Things_(1962).jpg">
                            <span class="card-title">Frank Sinatra</span>
                        </div>
                        <div class="card-content">
                          <p>Obscurity: <span>80</span></p>
                        </div>
                      </div>
                </li>
            </ul>
            <h2>Least important</h2>
        </div>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red">
              <i class="large material-icons">add</i>
            </a>
            <ul>
              <li><a class="btn-floating yellow darken-1 scroll"><i class="material-icons">mic_none</i></a></li>
              <li><a class="btn-floating green"><i class="material-icons">queue_music</i></a></li>
              <li><a class="btn-floating blue"><i class="material-icons">library_music</i></a></li>
            </ul>
          </div>
    </div>
</div>
