
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center black-text">{{settings.name}}</h1>
        <div class="row center">
        </div>
        <div class="row center">
          <a id="download-button" href="app" class="btn-large waves-effect waves-light orange lighten-1">Generate your playlist now!</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center black-text"><i class="material-icons">queue_music</i></h1>
            <h5 class="center">A Playlist Built For You</h5>

            <p class="light center-align">You choose the artists and the genres you want in the playlist, also if you dont want to listen to their most popular songs you can set our generator to find more of their obscure songs.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center black-text"><i class="material-icons">play_circle_outline</i></h1>
            <h5 class="center">Decide What Artists You Want To Listen To</h5>
            <p class="light center-align">By choosing the artists you want in the playlist, you have complete control of how the generator will create the playlist for you.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center black-text"><i class="material-icons">high_quality</i></h1>
            <h5 class="center">All Of Our Songs are High Quality</h5>

            <p class="light center-align">We only get our songs from spotify, meaning that you are assured that they are all high quality songs and you can listen to them anywhere.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
    <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 1"></div>
  </div>
</body>
