<span class="container container tech">
    <img src="https://iojs.org/images/1.0.0.png" />
    <img src="http://redis.io/images/redis-300dpi.png" />
    <img src="https://raw.githubusercontent.com/gulpjs/artwork/master/gulp-2x.png" />
</span>
