<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8" />

        <link href="https://fonts.googleapis.com/css?family=Ubuntu|Material+Icons" rel="stylesheet" />
        <link href="bundle.css" rel="stylesheet" />

    </head>
    <body>

        {{>page}}

        <script src="bundle.js"></script>

    </body>
</html>
