<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8" />

        <link href="https://fonts.googleapis.com/css?family=Ubuntu|Material+Icons" rel="stylesheet" />
        <link href="bundle.css" rel="stylesheet" />

    </head>
    <body>

        <div class="col s12">
            <nav class="orange">
                <div class="nav-wrapper container">
                <a href="#" class="brand-logo">Steve (the automatic playlist generator)</a>
                </div>
            </nav>
        </div>

        {{>page}}

        <script src="bundle.js"></script>
        <script src="materialize.js"></script>

    </body>
</html>
