<!DOCTYPE html>
<!--
_____                      _  ______ _
/  ___|                    | | | ___ \ |
\ `--. _ __ ___   __ _ _ __| |_| |_/ / | __ _ _   _
`--. \ '_ ` _ \ / _` | '__| __|  __/| |/ _` | | | |
/\__/ / | | | | | (_| | |  | |_| |   | | (_| | |_| |
\____/|_| |_| |_|\__,_|_|   \__\_|   |_|\__,_|\__, |
                                              __/ |
                                             |___/
Written by Jacob Cons, Monty Anderson, and Jesse Davda for #YRS2015.
https://github.com/montyanderson/yrs2015
-->
<html>
    <head>

        <title>{{settings.name}}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon"
              type="image/png"
              href="favicon.png">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu|Material+Icons" rel="stylesheet" />
        <link href="bundle.css" rel="stylesheet" />

    </head>
    <body>

        <div class="col s12">
            <nav class="white">
                <div class="nav-wrapper container">
                <a href="/" class="brand-logo orange-text">{{settings.name}}</a>
                </div>
            </nav>
        </div>

        {{>page}}

        <p class="build orange-text">Alpha v0.15</p>
        <script src="bundle.js"></script>
        <script src="materialize.js"></script>

    </body>
</html>
